<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Suchergebnisse</title>
    <style>
        .search-table {

            border-collapse: collapse; /* Zusammenführen der Zellenränder */
        }

        .search-table th, .search-table td {
            border: 1px solid #ddd; /* Rahmen um die Zellen */
            padding: 8px; /* Innenabstand der Zellen */
            text-align: left; /* Linksbündige Ausrichtung des Textes */
        }

        .search-table th {
            background-color: #f2f2f2; /* Hintergrundfarbe für Tabellenkopf */
        }
    </style>
</head>
<body style="font-family: Arial, sans-serif">
<div th:fragment="searchResultList">
    <table class="search-table">
        <thead>
        <tr>
            <th>Stadt</th>
            <th>Land</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="result : ${cities}">
            <td>
                <a th:href="@{/city/{stadt}(stadt=${result.id()})}" th:text="${result.name()}"></a>
            </td>
            <td th:text="${result.country()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
